<!DOCTYPE html>
<html>
    <head>
        <%- include('./head'); %>
        <link rel="stylesheet" type="text/css" href="css/logbook.css">
    </head>
    <body>
        <div class="container">
            <div class="wrapper <%= theme %>">
                <div id="mainbar">
                    <div id="profile">
                        <h3><%= name %> <%= surname %></h3>
                        <h5>Squadra : <%= team %></h5>
                    </div>
                    <div id="grest">
                        <h2>Grest</h2>
                        <div class="select">
                            <select id="standard-select">
                                <% options.forEach((opt) => { %>
                                    <option <% opt == new Date().getFullYear() ? 'selected' : '' %> value=<%= opt %>><%= opt %></option>
                                <% }) %>
                            </select>
                        </div>
                    </div>
                    <div id="main-btns">
                        <button id="theme" class="icon-btn"><i class="fas fa-palette fa-lg"></i></button><br>
                        <a id="exit" href="/logbook/logout" class="icon-btn"><i class="fas fa-sign-out-alt"></i></a>
                    </div>
                </div>
                <div class="tables">
                    <%- include('./table'); %>
                </div>
            </div>
        </div>
        <%- include('./footer'); %>
    </body>
</html>
